<h1> BOOK DETAIL</h1>

<h2>
<%= bouquin.title %> (<%= bouquin.country %> - <%= bouquin.year %>)  <br/>
 from <%= bouquin.author %><br/>
</h2>
<h4>
Language :   <%= bouquin.language %> <br/>
Pages :   <%= bouquin.pages %> pages <br/>
Link :   <a href="<%= bouquin.link %>">Wikipedia</a> <br/>
</h4>

