<html>
    <head>
        <title>My library</title>
    </head>
    <body>
        <h1>See below all books available :</h1>
            (<a href="/creation"> Add a book)</a>
            <!-- -- <a href="/sign">Sign In</a>  -->
            <ul>
                <% books.forEach((book) => { %>
                    <li>
                        Title :  <%= book.title %> <a href="/delete/<%= book._id %> ">(Delete it)</a> <br/>
                        Author : <%= book.author %> <br/>
                        --> <a href="/<%= book._id %> ">See more details</a> <br/>
                        <!-- Image : <img src="<%= book.imageLink %> "> -->
                        <br/>
                    </li>                    
                <%  }) %>
            </ul>    
            
    </body>
</html>